/* 声明字体图标 */
/* 注意路径的变化 */
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?tomleg");
  src: url("../fonts/icomoon.eot?tomleg#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?tomleg") format("truetype"),
    url("../fonts/icomoon.woff?tomleg") format("woff"),
    url("../fonts/icomoon.svg?tomleg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* 版心 */
.w {
  width: 1200px;
  margin: 0 auto;
}

/* 左浮动 */
.fl {
  float: left;
}
/* 右浮动 */
.fr {
  float: right;
}
/* 清除浮动 */
.clearfix::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.style_red {
  color: #c81623;
}

/* 快捷导航模块 */
.shortcut {
  height: 31px;
  line-height: 31px;
  background-color: #f1f1f1;
}

.shortcut ul li {
  float: left;
}

/* 选择所有偶数的li */
.shortcut .fr ul li:nth-child(even) {
  width: 1px;
  height: 12px;
  background-color: #666;
  margin: 9px 15px 0;
}

/* 下拉菜单字体图标 */
.arrow-icon::after {
  content: "\e91e";
  font-family: "icomoon";
}

/* header头部制作 */
.header {
  position: relative;
  height: 105px;
}

.logo {
  position: absolute;
  top: 25px;
  width: 171px;
  height: 61px;
}
.logo a {
  display: block;
  width: 175px;
  height: 61px;
  background: url(../images/logo.png) no-repeat;
  /* font-size: 0; */
  text-indent: -9999px;
  overflow: hidden;
}

/* 搜索模块 */
.search {
  position: absolute;
  float: left;
  left: 346px;
  top: 25px;
  width: 538px;
  height: 36px;
  border: 2px solid #b1191a;
}
.search input {
  float: left;
  width: 454px;
  height: 32px;
  padding-left: 10px;
}
.search button {
  width: 80px;
  height: 32px;
  background-color: #b1191a;
  font-size: 16px;
  color: #fff;
}

/* 热词模块 */
.hotwords {
  position: absolute;
  top: 66px;
  left: 346px;
}
.hotwords a {
  margin: 0 10px;
}

/* 购物车模块 */
.shopcar {
  position: absolute;
  right: 60px;
  top: 25px;
  width: 140px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #dfdfdf;
  background-color: #f7f7f7;
}

.shopcar::before {
  font-family: "icomoon";
  content: "\e93a";
  margin-left: 5px;
  color: #b1191a;
}

.shopcar::after {
  font-family: "icomoon";
  content: "\e920";
  margin-left: 10px;
}
.count {
  position: absolute;
  top: -5px;
  /* 左对齐，文字就会往右边走了 */
  left: 105px;
  height: 14px;
  line-height: 14px;
  color: #fff;
  background-color: #e60012;
  padding: 0 5px;
  border-radius: 7px 7px 7px 0;
}

/* nav模块制作 */
.nav {
  height: 47px;
  border-bottom: 2px solid #b1191a;
}

.nav .dropdown {
  cursor: pointer;
  float: left;
  width: 210px;
  height: 45px;
  background-color: #b1191a;
}
.nav .navitems {
  float: left;
}
.nav .dropdown .dt {
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 45px;
}
.nav .dropdown:hover .dd {
  display: block;
}
.nav .dropdown .dd {
  display: none;
  margin-top: 2px;
  width: 210px;
  height: 465px;
  background-color: #c81623;
}
.nav .dropdown .dd ul li {
  position: relative;
  height: 31px;
  line-height: 31px;
  margin-left: 2px;
  padding-left: 10px;
}
.nav .dropdown .dd ul li:hover {
  background-color: #fff;
}
.nav .dropdown .dd ul li a {
  font-size: 14px;
  color: #fff;
}
.nav .dropdown .dd ul li:hover a {
  color: #c81623;
}
.nav .dropdown .dd ul li::after {
  position: absolute;
  top: 1px;
  right: 10px;
  font-family: "icomoon";
  font-size: 14px;
  content: "\e920";
  color: #fff;
}

.nav .navitems ul li {
  float: left;
}
.nav .navitems ul li a {
  display: block;
  height: 45px;
  line-height: 45px;
  font-size: 16px;
  padding: 0 25px;
}

/* 底部模块制作 */
.footer {
  height: 415px;
  background-color: #f5f5f5;
  padding-top: 30px;
}

/* 底部服务模块 */
.mod_service {
  height: 80px;
  border-bottom: 1px solid #ccc;
}
.mod_service ul li {
  float: left;
  width: 240px;
  height: 50px;
  padding-left: 35px;
}

.mod_service ul li h5 {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 8px;
}

/* 分别设置图标 */
.mod_service ul .mod_service_zheng h5 {
  background: url(../images/icons.png) no-repeat -252px -2px;
}
.mod_service ul .mod_service_su h5 {
  background: url(../images/icons.png) no-repeat -255px -53px;
}
.mod_service ul .mod_service_shouhou h5 {
  background: url(../images/icons.png) no-repeat -257px -106px;
}
.mod_service ul .mod_service_te h5 {
  background: url(../images/icons.png) no-repeat -257px -156px;
}
.mod_service ul .mod_service_bang h5 {
  background: url(../images/icons.png) no-repeat -257px -209px;
}
.service_txt {
  padding-top: 8px;
}
.service_txt h4 {
  font-size: 4px;
}
.service_txt p {
  font-size: 12px;
}

/* 底部帮助模块 */
.mod_help {
  height: 185px;
  border-bottom: 1px solid #ccc;
  padding-top: 20px;
  padding-left: 50px;
}
.mod_help dl {
  float: left;
  width: 200px;
}
.mod_help dl:last-child {
  width: 90px;
  text-align: center;
}

.mod_help dl dt {
  margin-bottom: 10px;
  font-size: 16px;
  color: #333333;
}
.mod_help dl dd {
  color: #666666;
}

/* 版权信息模块 */
.mod_copyright {
  text-align: center;
  padding-top: 20px;
}
.mod_copyright .links {
  margin-bottom: 15px;
}
.mod_copyright .links a {
  padding: 0 5px;
}

.mod_copyright .copyright {
  line-height: 20px;
}
